<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="assets/images/logo.svg" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class='sidebar-title'>Main Menu</li>
                <li class="sidebar-item active ">
                    <a th:href="@{/admin}" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/Admin/QuanLyUser}" class='sidebar-link'>
                        <i data-feather="triangle" width="20"></i>
                        <span>Quản Lý Tài Khoản</span>
                    </a>
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li>-->
                    <!--                                <a href="quanLyNTD.html">Employer</a>-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                                <a href="quanLyFreelancer.html">Freelancer</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/Admin/QuanLyDonHang}" class='sidebar-link'>
                        <i data-feather="briefcase" width="20"></i>
                        <span>Quản Lý Đơn hàng</span>
                    </a>
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li>-->
                    <!--                                <a href="quanLyBaiDang.html">Bài Đăng</a>-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                                <a href="quanLyGoiBaiDang.html">Gói Bài Đăng</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                </li>
<!--                <li class="sidebar-item  ">-->
<!--                    <a href="quanLyChuyenMon.html" class='sidebar-link'>-->
<!--                        <i data-feather="grid" width="20"></i>-->
<!--                        <span>Quản Lý Khách hàng</span>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="sidebar-item">
                    <a th:href="@{/Admin/QuanLySanPham}" class='sidebar-link'>
                        <i data-feather="layers" width="20"></i>
                        <span>Quản Lý Sản Phẩm</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>