<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table - Voler Admin Dashboard</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/quanLybaiDang.css">
</head>
<body>
<div id="app">
    <th:block th:include="/menu.html"></th:block>
    <div id="main">
        <div class="main-content container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Quản lý sản phẩm</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class='breadcrumb-header'>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Quản lý sản phẩm</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Hoverable rows start -->
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="float: left;">Quản lý sản phẩm</h4>
                            <a th:href="@{/Admin/QuanLySanPham/Them}" class="btn-green" style="float: right;">
                                <button class="btn btn-primary" type="submit">Thêm</button>
                            </a>
                        </div>
                        <div class="card-content">
                            <!-- table hover -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Tên</th>
                                        <th>Images</th>
                                        <th>Giá</th>
                                        <th>Loại</th>
<!--                                        <th>Xem thêm</th>-->
                                        <th>Tác vụ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products}">
                                        <td class="text-bold" th:text="${product.getId()}">1</td>
                                        <td class="text-bold" th:text="${product.getTen()}">Bàn uống nước</td>
                                        <td class="text-bold">
                                            <div style="display: flex;flex-flow: row nowrap;margin: 2px;">
                                                <img th:src="@{${product.getImg()}}"
                                                     style="width: 50px;height: 50px;">
                                            </div>
                                        </td>
                                        <td class="text-bold" th:text="${product.getGia()}">20000</td>
                                        <td class="text-bold" th:text="${product.getLoai()}">Bàn</td>
<!--                                        <td class="text-bold">-->
<!--                                            <a class="btn green mr0 btn-search-text-single btnSearchMore">-->
<!--                                                <i class="fa fa-ellipsis-h" style="color: #cecccc"></i>-->
<!--                                            </a>-->
<!--                                        </td>-->
                                        <td class="text-bold">
                                            <a th:href="@{/Admin/QuanLySanPham/Sua(id=${product.getId()})}" class="btn green mr0 btn-search-text-single btnSearchMore">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a th:href="@{/Admin/QuanLySanPham/Delete(id=${product.getId()},page=${products.number+1})}" class="btn green mr0 btn-search-text-single btnSearchMore">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hoverable rows end -->
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${products.totalPages>0}">

                    <li class="page-item" th:if="${pagePrivious!=0}"><a class="page-link"  th:href="@{/Admin/QuanLySanPham(page=${pagePrivious})}">Prev</a></li>
                    <th:block th:each="pageNumber : ${pageNumbers}">
                    <li th:class="${pageNumber==products.number + 1} ? 'page-item'+' active'"><a class="page-link" th:href="@{/Admin/QuanLySanPham(page=${pageNumber})}" th:text="${pageNumber}">1</a></li>
                    </th:block>
                    <li class="page-item" th:if="${pageMax!=0}"><a class="page-link" th:href="@{/Admin/QuanLySanPham(page=${pageMax})}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="/assets/js/feather-icons/feather.min.js"></script>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>