<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/quanLyBaiDang.css">
</head>
<body>
<div id="app">
    <th:block th:include="/menu.html"></th:block>
    <div id="main">
        <div class="main-content container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Quản lý đơn hàng</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class='breadcrumb-header'>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Quản lý đơn hàng</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
            <!-- Hoverable rows start -->
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Quản lý đơn hàng</h4>
                        </div>
                        <div class="card-content">
                            <!-- table hover -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Người Nhận</th>
                                        <th>Tổng Tiền</th>
                                        <th>SĐT</th>
                                        <th>Địa Chỉ</th>
                                        <th>Loại Thanh Toán</th>
                                        <th>Ngày Mua</th>
<!--                                        <th>Ghi chú</th>-->
                                        <th>Trạng thái</th>

                                    </tr>
                                    </thead>
                                    <tbody id="donhang">

                                    <tr th:each="donhang : ${donhangs}">
                                        <td class="text-bold" th:text="${donhang.getId()}">1</td>
                                        <td class="text-bold" th:text="${donhang.getName()}">Nguyễn Văn A</td>
                                        <td class="text-bold" th:text="${donhang.getPrice()}">123456</td>
                                        <td class="text-bold" th:text="${donhang.getPhone()}">123456</td>
                                        <td class="text-bold" th:text="${donhang.getAddress()}">Thu Dức</td>
                                        <td class="text-bold" th:text="${donhang.getLoaithanhtoan()}">COD</td>
                                        <td class="text-bold" th:text="${donhang.getDate()}">1/1/2021</td>
<!--                                        <td class="text-bold" th:text="${donhang.getGhichu()}">10/1/2021</td>-->
                                        <td class="text-bold" th:if="${donhang.getTinhtrang().equals('Đã hủy')}" th:text="${donhang.getTinhtrang()}"></td>
                                        <td class="text-bold" th:if="${!donhang.getTinhtrang().equals('Đã hủy')}">
                                            <select th:onchange="'updateDonHang(this,'+${donhang.getId()}+')'">
                                                <option th:value="${donhang.getTinhtrang()}" th:text="${donhang.getTinhtrang()}"></option>
                                                <option value="Đang xử lý">Đang xử lý</option>
                                                <option value="Đang giao">Đang giao</option>
                                                <option value="Đã giao">Đã giao</option>
                                            </select>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hoverable rows end -->
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${donhangs.totalPages>0}">

                    <li class="page-item" th:if="${pagePrivious!=0}"><a class="page-link"  th:href="@{/Admin/QuanLyDonHang(page=${pagePrivious})}">Prev</a></li>
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${pageNumber==donhangs.number + 1} ? 'page-item'+' active'"><a class="page-link" th:href="@{/Admin/QuanLyDonHang(page=${pageNumber})}" th:text="${pageNumber}">1</a></li>
                    </th:block>
                    <li class="page-item" th:if="${pageMax!=0}"><a class="page-link" th:href="@{/Admin/QuanLyDonHang(page=${pageMax})}">Next</a></li>
                </ul>
            </nav>
        </div>


    </div>
</div>
<script src="/js/jquery-1.12.1.min.js"></script>
<script>
    function updateDonHang(object,id) {
        var tinhtrang = object.value;
        var result = '';
        $.ajax({
            url:"/Admin/Update/"+tinhtrang+"/"+id,
            success:function (data) {
                // for (var i=0; i<data.length;i++){
                //     result+=' <tr th:each="donhang : ${donhangs}">\n' +
                //         '                                        <td class="text-bold">'+data[i].id+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getName()}">'+data[i].name+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getPrice()}">'+data[i].price+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getPhone()}">'+data[i].phone+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getAddress()}">'+data[i].address+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getLoaithanhtoan()}">'+data[i].loaithanhtoan+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getDate()}">'+data[i].date+'</td>\n' +
                //         '                                        <td class="text-bold" th:text="${donhang.getTinhtrang()}">\n' +
                //         '                                            <select th:onchange="\'updateDonHang(\'+${donhangs.number+1}+\',this)\'">\n' +
                //         '                                                <option th:value="${donhang.getTinhtrang()}" th:text="${donhang.getTinhtrang()}"></option>\n' +
                //         '                                                <option value="Đang xử lý">Đang xử lý</option>\n' +
                //         '                                                <option value="Đang giao">Đang giao</option>\n' +
                //         '                                                <option value="Đã giao">Đã giao</option>\n' +
                //         '                                                <option value="Đã hủy">Đã Hủy</option>\n' +
                //         '                                            </select>\n' +
                //         '                                        </td>\n' +
                //         '                                    </tr>';
                    confirm("update thành công");
                // }  // error:
            },

        })
    }
</script>
</body>
</html>